<!doctype html>
<html lang="nl">
<head>
  <meta charset="utf-8"/>
  <title>{{ title }}</title>
</head>
<body>
  <header>
    <nav>OVERSTAG &bull; <a href="/">Home</a> &bull; <a href="/overstag/">OVERSTAG</a> &bull; <a href="/team/">Team</a> &bull; <a href="/praktijkopleiders/">Praktijkopleiders</a> &bull; <a href="/opleidingen/">Opleidingen</a> &bull; <a href="/resources/">Resources</a> &bull; <a href="/nieuws/">Nieuws</a> &bull; <a href="/contact/">Contact</a></nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>&copy; OVERSTAG</footer>
</body>
</html>
